.popup{
	position: relative;
	top: 0; bottom: 0;
	left: 0; right: 0;
	width: 50%;
	height: auto;
	margin: auto;
	background-color:white;
	text-align: center;
	border: 1px solid rgba(194, 194, 194, 1);
	border: 2px solid #4171c0;
}

.formulario{
	background-color:transparent;
	font-family: "Arial";
	width: 70%;
	margin-top: 40px;
	display: inline-block;
}
.lbl{
	color: black;
	font-size: 1em;
	display: inline-block;
	margin-bottom: 18px;
	width: 200px;
}
.btn{
	font-size: 1.0em;
	width: 25%;
	padding: 10px;
	color: #4171c0;
	border: 2px solid #4171c0;
	background-color: white;
	cursor: pointer;
	margin-bottom: 10px;
}		
.txt{
	font-size: 1em;
	border-radius: 5px;
	border: 1px solid rgba(194, 194, 194, 1);
}	