*{
	font-family: 'Raleway', sans-serif;
	margin: 0;
}
html{
	font-size: 62.5%;
}
.menu{
	font-size: 1.6em;
}
.rodape{
	width: 100%;
	clear: both;
	margin-bottom: 0;
	background-color: #131313;
	color: white;
	height:350px;
}
.faleConoscoBox, .mapasitebox, .contatobox{
	float: left;
	margin-top: 50px;
	margin-left: 8.31%;
}

.faleConoscoBox{
	width: 25.46%;
}
.contatobox{
	width: 25.75%;
}
.rowRedesSociais{
	clear: both;
	margin-top: 30px;
	margin-left:30px;
	width: 100%;

}
.logosRedeSociais{
	width: 50px;
	margin-right: 10px;
	cursor: pointer;
}
.mapasitebox{
	width: 20.52%;
}

.topicos1{
	font-size: 3.5em;
	padding-bottom: 15px;
}
.topicos2, .topicos2ms{
	clear: both;
	text-decoration: none;
	font-size: 2.2em;
	color: white;
	margin-left: 30px;
	margin-top: 10px;
}
.jooj{
	text-decoration: none;
}

.contatoImg{
	margin-right: 10px;
}



.topicos2ms:hover{
	cursor: pointer;
	text-decoration:underline;
}










@media(max-width: 900px){
.mapasitebox{
	display: none;
}
.contatobox{
	width: 98%;
	margin-left: 0;
	text-align: center;
	padding-bottom: 70px;
}	
.faleConoscoBox{

	text-align: center;
	width: 90%;
	margin: 0 auto;
	float: none;
}
.rodape{
	height: 600px;
}
.rowRedesSociais{
	text-align: center;
	margin-left: 0;
}

}